body {
    font-family: 'Work Sans', sans-serif !important;
}

td {
    line-height: 300%;
    font-size: 1.2rem;
}

.jumbotron {
    background-color: rgba(0, 0, 150, 0.04) !important;
}

.jumbotron h1 {
    font-weight: 300 !important;
    font-size: 3.5rem !important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 150, 0.04) !important;
}

.modalImage {
    width: 100%;
}

@media screen and (max-width: 319px) {
    td {
        font-size: 0.9rem;
    }
}